---
import Layout from "@layouts/Layout.astro";
import ImageList from "@sections/ImageList.svelte";
---

<Layout title="Universal Blue">
  <main class="dark">
    <div class="dark:bg-gray-900 p-4 min-h-screen">
      <ImageList client:load />
    </div>
  </main>
</Layout>
