---
import Layout from "@layouts/Layout.astro";
import ImageCard from "@components/ImageCard.svelte";

import type { Images } from "@ts/types";
import imagesUntyped from "@content/images.yml";
const images: Images = imagesUntyped;
---

<Layout title="Universal Blue">
  <main>
    <div class="flex flex-wrap gap-2 p-4">
      <ImageCard image={images.images[0]} client:visible />
    </div>
  </main>
</Layout>
