---
import Layout from "@layouts/Layout.astro";
import DarkModeButton from "@components/DarkModeButton.svelte";
import Hero from "@sections/Hero.astro";
import ImageList from "@sections/ImageList.svelte";
---

<script>
  import { darkModeStore } from "@ts/stores";

  if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
    darkModeStore.set(true);
  }

  let main = document.querySelector("main");
  darkModeStore.subscribe((d) => {
    if (d) main.classList.add("dark");
    else main.classList.remove("dark");
  });
</script>

<Layout title="UblueOS image listing">
  <main>
    <div class="min-h-screen p-4 dark:bg-gray-900">
      <DarkModeButton client:idle />
      <Hero />
      <ImageList client:load />
    </div>
  </main>
</Layout>
