---
import Layout from "@layouts/Layout.astro";
import DarkModeButton from "@components/DarkModeButton.svelte";
import PullStats from "@sections/PullStats.svelte";
import Hero from "@sections/Hero.astro";
---

<script>
  import { darkModeStore } from "@ts/stores";

  if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
    darkModeStore.set(true);
  }

  darkModeStore.subscribe((d) => {
    if (d) document.documentElement.classList.add("dark");
    else document.documentElement.classList.remove("dark");
  });
</script>

<Layout title="Universal Blue | Fedora Native Containers Images">
  <main class="min-h-screen dark:bg-gray-900">
    <Hero />
    <PullStats client:idle />
    <DarkModeButton client:idle />
  </main>
</Layout>
