---
import Layout from "@layouts/Layout.astro";
import HeaderBar from "@components/HeaderBar.astro";
import PullStats from "@sections/PullStats.svelte";

const statsRes = await fetch('https://storage.googleapis.com/ghp-stats/ublue-os/data.json')
const stats = await statsRes.json()
---

<script>
  import { darkModeStore } from "@ts/stores";

  if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
    darkModeStore.set(true);
  }

  darkModeStore.subscribe((d) => {
    if (d) document.documentElement.classList.add("dark");
    else document.documentElement.classList.remove("dark");
  });
</script>

<Layout title="Universal Blue | Fedora Native Containers Images">
  <main class="bg-bg-page w-screen h-full min-h-screen">
    <HeaderBar></HeaderBar>
    <hr class="mb-32">
    <PullStats client:idle stats={stats}/>
  </main>
</Layout>
