---
import DarkModeButton from "@components/DarkModeButton.svelte";
import Box from "./Box.svelte";
---

<div class="w-full h-16 flex p-2 gap-4 absolute top-0 left-0">
  <a href="/" class="h-auto m-2">
    <div class="text-fg-primary text-2xl my-auto">BlueBuild</div>
  </a>
  <DarkModeButton client:idle class="m-2" />
</div>
