---
import DarkModeButton from "@components/DarkModeButton.svelte";
import Box from "./Box.svelte";
---

<div class="w-full h-16 flex p-2 gap-4">
  <a href="/" class="h-auto aspect-square">
    <Box class="p-1.5">
      <img src="/ublue.svg" class="max-w-full max-h-full" />
    </Box>
  </a>
  <div class="text-fg-primary text-2xl my-auto">Universal Blue</div>
  <DarkModeButton client:idle class="m-2" />
</div>
