<div class="flex place-content-center h-screen w-screen">
  <div class="flex place-self-center flex-col gap-5 max-w-3xl">
    <h1 class="text-5xl max-w-2xl">
      Custom Operating System images based on Fedora
    </h1>
    <p class="text-xl">
      This is a collection of container images using Fedora's support for
      OCI/Docker containers as a <a
        class="text-blue-900 hover:underline"
        href="https://fedoraproject.org/wiki/Changes/OstreeNativeContainerStable"
        >transport and delivery mechanism for operating system content</a
      >. That's nerdspeak for the ultimate Linux client: the reliability of a
      Chromebook, but with the flexibility and power of a traditional Linux
      desktop. At long last, we've ascended.
    </p>
  </div>
</div>
