---
import Box from "@components/Box.svelte";
import Icon from "@iconify/svelte";
import linkArrow from "@iconify/icons-material-symbols/arrow-outward";
---

<div
  class="flex h-screen w-screen place-content-center bg-gradient-to-b from-indigo-400 dark:from-indigo-900 dark:to-gray-900"
>
  <div class="flex max-w-3xl flex-col gap-5 place-self-center">
    <h1 class="max-w-2xl text-5xl text-indigo-900 dark:text-indigo-300">
      Custom Operating System images based on Fedora
    </h1>
    <p class="text-xl dark:text-white">
      This is a collection of container images using Fedora's support for
      OCI/Docker containers as a

      <a
        class="text-blue-900 hover:underline dark:text-blue-400"
        href="https://fedoraproject.org/wiki/Changes/OstreeNativeContainerStable"
      >
        transport and delivery mechanism for operating system content
      </a>. That's nerdspeak for the ultimate Linux client:
      <em class="font-medium">
        the reliability of a Chromebook, but with the flexibility and power of a
        traditional Linux desktop.
      </em>
      At long last, we've ascended.
    </p>
    <div class="flex flex-row gap-4 text-lg">
      <a href="#images">
        <Box client:idle>Browse the images</Box>
      </a>
      <a href="https://ublue.it/">
        <Box client:idle class="flex flex-row gap-2">
          Read the docs <Icon icon={linkArrow} width="18" />
        </Box>
      </a>
    </div>
  </div>
</div>
