---
import { Content, frontmatter } from "@content/hero.md";

import Box from "@components/Box.svelte";
import Icon from "@iconify/svelte";
import imagesArrow from "@iconify/icons-material-symbols/arrow-upward-sharp";
import linkArrow from "@iconify/icons-material-symbols/arrow-outward";
---

<div
  class="flex h-screen w-screen place-content-center bg-gradient-to-b from-indigo-400 px-5 dark:from-indigo-900"
>
  <div class="flex max-w-3xl flex-col gap-5 place-self-center">
    <h1 class="max-w-2xl text-5xl text-indigo-900 dark:text-indigo-300">
      {frontmatter.title}
    </h1>
    <span class="text text-xl dark:text-white">
      <Content />
    </span>
    <div class="flex flex-row gap-4 text-lg">
      <a href="#images">
        <Box client:idle class="flex flex-row gap-2">
          Browse the images <Icon icon={imagesArrow} width="18" rotate="2" />
        </Box>
      </a>
      <a href="https://ublue.it/">
        <Box client:idle class="flex flex-row gap-2">
          Read the docs <Icon icon={linkArrow} width="18" />
        </Box>
      </a>
    </div>
  </div>
</div>

<!-- Style has to be global to affect the links inside the content component -->
<style is:global>
  .text a {
    @apply text-blue-900 hover:underline dark:text-blue-400;
  }
  .text em {
    @apply font-medium;
  }
</style>
