<div
  class="flex place-content-center h-screen w-screen bg-gradient-to-b from-indigo-400 dark:from-indigo-900 dark:to-gray-900"
>
  <div class="flex place-self-center flex-col gap-5 max-w-3xl">
    <h1 class="text-5xl max-w-2xl text-indigo-900 dark:text-indigo-300">
      Custom Operating System images based on Fedora
    </h1>
    <p class="text-xl dark:text-white">
      This is a collection of container images using Fedora's support for
      OCI/Docker containers as a

      <a
        class="text-blue-900 dark:text-blue-400 hover:underline"
        href="https://fedoraproject.org/wiki/Changes/OstreeNativeContainerStable"
      >
        transport and delivery mechanism for operating system content
      </a>. That's nerdspeak for the ultimate Linux client:
      <em class="font-medium">
        the reliability of a Chromebook, but with the flexibility and power of a
        traditional Linux desktop.
      </em>
      At long last, we've ascended.
    </p>
  </div>
</div>
