---
import "src/base.css";

import { AstroSeo } from "@astrolib/seo"; // https://github.com/onwidget/astrolib/tree/main/packages/seo

export interface Props {
  title: string;
}

const { title } = Astro.props;
const description = `BlueBuild image repo creator wizard`;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/ublue.svg" />
    <meta name="generator" content={Astro.generator} />

    <AstroSeo
      title={title}
      description={description}
      canonical={"https://ublue-images-demo.netlify.app"}
      openGraph={{
        url: "https:ublue-images-demo.netlify.app",
        title: title,
        description: description,
        site_name: "Universal Blue",
      }}
    />
  </head>
  <body>
    <slot />
  </body>
</html>
